body {
    display: contents;
    flex-wrap: wrap;
    align-items: flex-start;
      
}

.App {
   
    
}

#Logo {
    
  position: absolute;
    top: -20px;
    left: 40%;
    width: 290px;
    height: 96px;
    
    
  
}
#bulldog {

  position: absolute;
  top: 70px;
  right: 10%;
  width: 500px;
  height: 500px;
  
}

#Text {
    margin: 20px;

}

